body {
  background-color: #f5f4f4;
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
  background-color: #f7f7f7;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

h1 {
  color:#3e4b70;
  size: 3em;
  font-weight: 900;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
}

input {
  padding: 0px;
  margin: 0px;
  width: 146px;
  height: 20px;
}

label {
  display: inline-block;
  width: 150px;
  text-align: right;
  margin-right: 25px;
}​

.info-box {
  background-color: #FFF;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  padding: 25px;
  margin-bottom: 20px;
}

.info-box > h3 {
  text-decoration: underline;
}

.field-box {
  height: 25px;
  padding: auto;
}

.field-box > p {
    display: inline-block;
    font-weight: normal;
    background-color: aqua;
    width: 150px;
    padding: auto;
}

.info-box > p {
  text-align: center;
}

button {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}
