body {
  background-color: #f5f4f4;
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
  background-color: #f7f7f7;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

h1 {
  color:#3e4b70;
  size: 3em;
  font-weight: 900;
}

p {
  margin-top: 0px;
  font-weight: bold;
}

.info-box {
  background-color: #FFF;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  padding: 25px;
  margin-bottom: 20px;
}

.info-box > h3 {
  text-decoration: underline;
}

.field-box > p {
    display: inline-block;
    font-weight: normal;
}